.formBtn {
  width: 200px;
  background-color: #fff;
  border-top-right-radius: 10px;
  color: #000;
  font-weight: 600;
  font-size: 15px;
}
.formBluebtn {
  background-color: #005aab;
  border: none;
  padding: 15px 25px;
  border-top-right-radius: 10px;
  color: #fff;
  margin-right: 15px;
}
/* .formWhitebtn {
  border: none;
  padding: 8px 10px;
  border-top-right-radius: 10px;
  color: #000;
} */

.formContainer {
  width: 400px;
  height: 350px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 768px) {
.formContainer {
  width: 280px;
  height: 300px;
}
}