.rent {
  padding-top: 50px;
  padding-bottom: 50px;
}

.rentFeature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 75px;
}

.rentSplit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rentFeature h1 {
  font-size: 40px;
  font-weight: bold;
}

.rentFeature button {
  border: none;
  padding: 10px 30px;
  background-color: #005aab;
  border-radius: 5px;
  color: #fff;
}

.rentImages {
  padding: 0 3px;
  position: relative;
}

.rentImages img {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  filter: blur(50px);
  filter: brightness(20px);
  filter: drop-shadow(16px 16px 20px gray);
  filter: opacity(50%);
  filter: saturate(30%);
}

.rentSpanLeft {
  position: absolute;
  margin-top: 10px;
  left: 20px;
  color: #fff;
  background-color: #005aab;
  font-size: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 21px rgba(0, 0, 0, 0.1);
  top: 10px;
}

.rentSpanRight {
  position: absolute;
  margin-top: 10px;
  left: 90px;
  color: #fff;
  background-color: #02afe6;
  font-size: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 21px rgba(0, 0, 0, 0.1);
  top: 10px;
}

.rentIconOne {
  position: absolute;
  bottom: 80px;
  left: 230px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 21px rgba(0, 0, 0, 0.1);
  font-size: 25px;
}

.rentIconTwo {
  position: absolute;
  bottom: 80px;
  left: 265px;
  color: #fff;
  font-size: 25px;
}

.rentCategory {
  width: 280px;
  background-color: #fff;
  color: #000;
  position: absolute;
  bottom: 20px;
  left: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 21px rgba(0, 0, 0, 1);
}

.rentCategory h5 {
  font-size: 12px;
  color: #000;
  font-weight: bold;
}

.rentCategory p {
  font-size: 10px;
  color: #000;
  font-weight: bold;
}

.rentCategory p span {
  color: #b3b3b3;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .rentImages {
    padding: 0 15px;
  }
  .rentFeature h1 {
    font-size: 30px;
  }
  .rentFeature button {
    font-size: 12px;
  }
  .rentSpanLeft {
    font-size: 8px;
    left: 30px;
  }

  .rentSpanRight {
    font-size: 8px;

    left: 100px;
  }
  .rentIconOne {
    left: 218px;
    font-size: 20px;
  }

  .rentIconTwo {
    left: 260px;
    font-size: 20px;
  }

  .rentCategory {
    width: 260px;
    left: 14px;
  }

  .rentCategory h5 {
    font-size: 8px;
  }

  .rentCategory p {
    font-size: 8px;
  }
  .rentImages {
    padding: 0 3px;
  }

  .rentCategory {
    left: 25px;
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .rentSpanLeft {
    left: 20px;
  }
  .rentSpanRight {
    left: 120px;
  }
  .rentSplit {
    gap: 50px;
  }
  .rentCategory {
    left: 13px;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .rentSpanRight {
    left: 114px;
  }
  .rentFeature {
    display: flex;
    margin: 0 -40px;
    padding: 30px 75px;
  }
  .rentFeature h1 {
    font-size: 10px;
  }
  .rentFeature button {
    font-size: 10px;
    /* margin-left: 162px; */
    padding: 5px 10px;
  }
}
