.rent {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rentFeature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 75px;
}

.rentSplit {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 13px
}

.rentFeature h1 {
    font-size: 40px;
    font-weight: bold;
}

.rentFeature button {
    border: none;
    padding: 10px 30px;
    background-color: #005aab;
    border-radius: 5px;
    color: #fff;
}

.rentImages {
    padding: 0 65px;
    position: relative;
}

.rentImages img {
    width: 300px;
    height: 350px;
    border-radius: 5px;
    filter: blur(50px);
    filter: brightness(20px);
    filter: drop-shadow(16px 16px 20px gray);
    filter: opacity(50%);
    filter: saturate(30%);
}

.rentSpanLeft {
    position: absolute;
    margin-top: 10px;
    left: 80px;
    color: #fff;
    background-color: #005aab;
    font-size: 10px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 21px rgba(0, 0, 0, 0.1);
    top: 10px;
}

.rentSpanRight {
    position: absolute;
    margin-top: 10px;
    left: 150px;
    color: #fff;
    background-color: #02afe6;
    font-size: 10px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 21px rgba(0, 0, 0, 0.1);
    top: 10px;

}

.rentIconOne {
    position: absolute;
    bottom: 80px;
    left: 280px;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 21px rgba(0, 0, 0, 0.1);
    font-size: 25px;
}

.rentIconTwo {
    position: absolute;
    bottom: 80px;
    left: 325px;
    color: #fff;
    font-size: 25px;
}

.rentCategory {
    width: 280px;
    background-color: #fff;
    color: #000;
    position: absolute;
    bottom: 20px;
    left: 75px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 21px rgba(0, 0, 0, 1);
}

.rentCategory h5 {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

.rentCategory p {
    font-size: 10px;
    color: #000;
    font-weight: bold;
}

.rentCategory p span {
    color: #b3b3b3;
}