.navbarLeft {
  width: 100%;
  height: 40px;
  background-color: #005aab;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarInfoOne {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 75px;
}

.navbarPara {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  gap: 10px;
}

.callIcon {
  font-size: 20px;
}

.navbarInfoTwo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 75px;
}

.navBarImg {
  width: 30px;
}

.navbarInfoTwo {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

/* navone complete */

.navbarRight {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbarLogos {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 75px;
}

.navbarLogos img {
  width: 200px;
}

.navbarLists {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 75px;
}

.navbarList {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}

.expandIcon {
  cursor: pointer;
}

.nabarBtn {
  background-color: #005aab;
  border: none;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 8px 10px;
  font-size: 12px;
}

.menuIcon {
  display: none;
}

/* navbar 2 completed */
@media (min-width: 1024px) and (max-width: 3000px) {
  .navbarInfoOne {
    padding-left: 60px;
  }

  .navbarInfoTWo {
    padding-right: 60px;
  }

  .navbarPara {
    font-size: 12px;
  }

  .navbarInfoTwo {
    font-size: 12px;
  }

  .navBarImg {
    width: 20px;
  }

  .callIcon {
    font-size: 15px;
  }

  .navbarList {
    font-size: 10px;
  }

  .nabarBtn {
    font-size: 10px;
  }

  .navbarLogos img {
    width: 100px;
  }

  .navBarImg {
    width: 25px;
  }

  .navbarLogos {
    padding-left: 60px;
  }

  .navbarLists {
    padding-left: 60px;
  }

  .formBluebtn {
    font-size: 12px;
  }

  .formBtn {
    font-size: 12px;
  }

  .formTypes p {
    font-size: 8px;
  }

  .formTypes h3 {
    font-size: 10px;
  }

  .formPriceRange h3 {
    font-size: 12px;
  }

  .formAdvanced h3 {
    font-size: 10px;
  }

  .formAdvanced button {
    font-size: 10px;
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .navbarInfoOne {
    padding-left: 50px;
  }

  .navbarInfoTWo {
    padding-right: 50px;
  }

  .navbarPara {
    font-size: 8px;
  }

  .navBarImg {
    width: 15px;
  }

  .navbarInfoTwo {
    font-size: 8px;
  }

  .navbarList {
    font-size: 6px;
  }

  .callIcon {
    font-size: 13px;
  }

  .navbarLogos img {
    width: 80px;
  }

  .nabarBtn {
    font-size: 7px;
  }

  .formBluebtn {
    font-size: 10px;
  }

  .formBtn {
    font-size: 10px;
  }

  .formTypes p {
    font-size: 7px;
  }

  .formTypes h3 {
    font-size: 9px;
  }

  .formPriceRange p {
    font-size: 7px;
  }

  .formContainer {
    width: 320px;
    height: 320px;
  }

  .formRange {
    margin-left: 45px;
    width: 240px;
  }

  .formPriceRange h3 {
    font-size: 12px;
  }

  .formAdvanced button {
    font-size: 10px;
  }

  .navBarImg {
    width: 20px;
  }

  .navbarInfoTwo {
    font-size: 10px;
  }

  .navbarLogos {
    padding-left: 50px;
  }

  .navbarLists {
    padding-left: 50px;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formContainer {
    height: 300px;
    margin-left: 10px;
    width: 300px;
  }
  .formBtn {
    margin-left: 10px;
    width: 180px;
    font-size: 7px;
  }

  .formBluebtn {
    font-size: 7px;
  }

  .formTypes h3 {
    font-size: 8px;
  }

  .formPriceRange h3 {
    font-weight: 600;
    font-size: 8px;
  }

  .formRange {
    appearance: none;
    width: 210px;
    height: 3px;

  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff; /* Change this to the desired color */
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  .formAdvanced h3 {
    font-size: 10px;
  }

  .formAdvanced h3 {
    font-size: 10px;
  }

  .homepageBackground {
    padding-bottom: 20px;
    flex-direction: column;
    height: 700px;
  }

  .homepageRight {
    margin-top: 40px;
    width: 90%;
    padding-right: 40px;
    margin-left: 40px;
  }

  .homepageLeft h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
  }

  .homepageLeft p {
    text-align: center;
    font-size: 9px;
  }

  .formBluebtn {
    font-size: 10px;
  }

  .formBtn {
    width: 180px;
    font-size: 10px;
  }

  .formPriceRange h3 {
    font-size: 7px;
  }
  .formAdvanced h3 {
    font-size: 8px;
  }
  .formAdvanced button {
    font-size: 8px;
  }

  .formTypes p {
    font-size: 5px;
  }

  .formTypes h3 {
    font-size: 7px;
  }

  .formPriceRange p {
    font-size: 5px;
  }

  .navbarInfoOne {
    padding-left: 30px;
  }

  .navbarInfoTWo {
    padding-right: 30px;
    margin: 10px;
  }

  .menuIcon {
    display: block;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 10px;
    z-index: 1000;
  }

  .navbarLists {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #fff;
    width: 100%;
    height: 550px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
  }

  .navbarPara {
    font-size: 8px;
  }

  .callIcon {
    font-size: 10px;
  }

  .navbarList {
    font-size: 10px;
    width: 100%;
    text-align: left;
    padding: 10px 25px;
  }
  .navbarLogos img {
    width: 50px;
  }

  .navbarLists.active {
    display: flex;
  }

  .navbarInfoTwo {
    font-size: 8px;
    padding-right: 20px;
  }

  .navBarImg {
    width: 15px;
  }

  .nabarBtn {
    padding: 10px 5px;
    font-size: 10px;
    margin-left: 14px;
    border-radius: 5px;
  }
}
